/* GLOBAL */

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: url("../img/fondo-smash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Mitr', sans-serif;
}

p {
  font-size: 18px;
}

h2 {
  font-size: 36px;
}

h4{
  font-size: 24px;
  color: #e50305;
}

/* HEADER */

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #e50305;
  color: #fff;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}
.navbar-brand {
  float: left;
  width: 50px;
  padding: 0 15px 5px;
}
.navbar-brand img {
  max-width: 150px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
  color: #fff;
  background-color: #e50305;
  border-left: 3px #fff solid;
  border-right: 3px #fff solid;
  transition: .2s;
}

.navbar-inverse .navbar-nav .active a:hover {
  background-color: rgba(255,255,255,0.5);
}

.navbar-inverse .navbar-nav li a {
  color: #fff;
  font-weight: 700;
}
.carousel-caption {
  top: 80%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.carousel img {
  width: 100%;
}

/* TIER/RANK SECTION */

#tier-rank h4 {
  border-left: #e50305 3px solid;
  padding-left: 10px;
}

#tier-rank img {
  border-bottom: 8px solid #e50305;
}

/* CAST SECTION */

.cast-header {
  padding-bottom: 50px;
}

.cast-header .stripe {
  background-color: #e50305;
  height: 50px;
}

.cast-header .cast-title {
  color: #e50305;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}

#cast .badge img {
  width: 40%;
  margin-top: 4%;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

#cast {
  position: relative;
}

#cast .badge {
  display: block;
  position: absolute;
  top: -50px;
  z-index: 1;
  width: 34%;
  height: 150%;
  background-color: #4ec4d9;
  border-bottom-right-radius: 150px 150px;
  border-top-right-radius: 150px 150px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.map {
  padding-top: 20px;
}

/* CAST SECTION - END */

.btn {
  font-size: 18px;
  color: #fff;
  padding: 12px 22px;
  background: #4ec4d9;
  border: 2px solid #fff;
}
.btn:hover{
  font-size: 18px;
  color: #fff;
  padding: 12px 22px;
  background: #2f9bae;
  border: 2px solid #fff;
}
.container {
  margin: 4% auto;
}
.follow h2 {
  color: #4ec4d9;
  margin-bottom: 50px;
}

#icon {
  max-width: 200px;
  margin: 1% auto;
}

/* POLL */

.poll img {
  border-bottom: 8px solid #e50305;
}

/* FOOTER */

footer {
  width: 100%;
  background-color: #000;
  padding: 1%;
  color: #fff;
  border-top: 20px solid #e50305;
}

footer #contacto {
  display: flex;
  align-items: center;
}

footer #contacto h4 {
  color: #fff;
}

footer #contacto ul {
  padding: 0;
}

footer #contacto ul li {
  list-style: none;
  padding: 5px 0;
  color: #fff;
}

footer #contacto ul li a {
  color: #fff;
  font-size: 18px;
}

footer #contacto .foot-social {
  display: flex;
  justify-content: space-evenly;
}

footer #contacto .info-news {
  padding: 0 35px 0 0;
  text-align: left;
}

footer #contacto .input-group {
  padding: 0 35px 0 0;
}

footer #contacto .input-group span .btn {
  background-color: #e50305;
}

footer #contacto .input-group span .btn:hover {
  background-color: #b50405;
}

footer #contacto .input-group .form-control {
  height: 53px;
}

.fa {
  padding: 15px;
  font-size: 55px;
  color: #fff;
}
.fa:hover {
  color: #d5d5d5;
  text-decoration: none;
}
@media (max-width: 950px) {
  .fa {
    font-size: 20px;
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
  #icon {
    max-width: 150px;
  }
  h2 {
    font-size: 1.7em;
  }
}
